<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" 
            [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)"
            [(ngModel)]="product.price" name="price">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createProduct()" mat-button style="background-color: #2196F3; color: #fff;">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()" mat-button style="background-color: #F44336; color: #fff;">
       Cancelar
    </button>
</mat-card>

