<mat-card>
    <mat-card-title>Excluir Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" 
            [value]="product.name" name="name" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)"
            [value]="product.price" name="price" disabled>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="deleteProduct()" mat-button style="background-color: #dc0a1f; color: #fff;">
        Excluir
    </button>
    
    <button mat-raised-button (click)="cancel()" mat-button style="background-color: #f5ba13; color: #fff;">
       Cancelar
    </button>
</mat-card>

